/*
reglas
selectores
declaraciones
propiedades
valores
*/

/* Selector de etiqueta header -section -article -nav*/

body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fjalla One'sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 40px;
    line-height: 150%;
    letter-spacing: -0.20px;
    text-transform: none;
    text-decoration: none;
    color: white;
    margin: 10px;
    padding: 20px;
}

h1 strong {
    color: #026fff;
}

h6 {
    font-size: 20px;
}

h6 strong {
    color: #026fff;
}

.hero {
    /* height: 300px; */
    background-color: #1b2127;
    background-image: url('../images/Santiago-Vasquez-Gomez.jpg');
    background-size: 300px 300px;
    background-repeat: no-repeat;
    background-position-x: right;
}

#portafolio {
    font-size: 20px;
    opacity: unset;
    background: #fafafa;
    padding: 20px;
}

.project {
    border: 1px solid grey;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 15px;
    padding: 20px;
    background: white;
    display: flex;
    /* border-top-left-radius: 20px; */
}

.project-details {
    color: black;
    width: 500px;
    background-color: white;
}

.project-image-container {
    width: 500px;
}

.menu {
    height: inherit;
}

.header {
    background-color: #1b2127;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 90px;
    /*Color del texto */
}

.header ol {
    display: flex;
    height: inherit;
}

.header ol li {
    height: inherit;
    display: flex;
    align-items: center;
}

.header a {
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 10px;
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

figure {
    margin: 0;
}

/* .flexbox {
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 20px;
    height: 20px;
    border: 1px solid red;
    flex-shrink: 0;
    margin: 5px;
} */

header a {
    color: white;
    text-decoration: none;
}