/*
reglas
selectores
declaraciones
propiedades
valores
*/

/* Selector de etiqueta header -section -article -nav*/

body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fjalla One'sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 40px;
    line-height: 150%;
    letter-spacing: -0.20px;
    text-transform: none;
    text-decoration: none;
    color: white;
    margin: 10px;
    padding: 20px;
}

h1 strong {
    color: #026fff;
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #026fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}

h6 {
    font-size: 20px;
}

h6 strong {
    color: #026fff;
}

.hero {
    /* height: 300px; */
    background-color: #1b2127;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-image: url('../images/Santiago-Vasquez-Gomez.jpg');
    background-size: 300px 300px;
    background-repeat: no-repeat;
    background-position-x: right; */
}

.hero-image{
    object-fit: cover;
}

#portafolio {
    font-size: 20px;
    opacity: unset;
    background: #fafafa;
    padding: 20px;
}

.project {
    border: 1px solid grey;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 20px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-top-left-radius: 20px; */
}

.project-title {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}

.project strong {
    font-family: 'Fjalla One'sans-serif;
}

.project-lenguaje, .project-date, .project-url {
    margin: 10px 0px;
}

.project-description {
    font-size: 20px;
}

/* .project-date{
    margin: 10px 0;
} */

.project-details {
    color: black;
    width: 500px;
    background-color: white;
}

.project-image-container {
    width: 500px;
}

.menu {
    height: inherit;
}

.header {
    background-color: #1b2127;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 90px;
    /*Color del texto */
}

.header ol {
    display: flex;
    height: inherit;
}

.header ol li {
    height: inherit;
    display: flex;
    align-items: center;
}

.header a {
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 10px;
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

figure {
    margin: 0;
}

/* .flexbox {
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 20px;
    height: 20px;
    border: 1px solid red;
    flex-shrink: 0;
    margin: 5px;
} */

.experience {
    display: flex;
    flex-wrap: wrap;
}

.experience-event {
    margin: 10px;
    width: 480px;
}

.experience-event img {
    width: 480px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
    background: #f4fbff;
}

.experience-details {
    margin: 20px 40px;
    margin-top: -40px;
    background-color: white;
    position: relative;
    padding: 20px;
    text-align: center;
}

.experience-description {
    text-align: left;
}

.experience-url {
    border: 1px solid #026fff;
    padding: 5px 20px;
    text-decoration: none;
    color: #026fff;
    border-radius: 5px;
}

.experience-title-h2 {
    margin-left: 20px;
}

.Contact {
    background-color: #026fff;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social {}

.social-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    margin: 0 10px;
}

.social-link.facebook {
    background-image: url('../images/facebook.svg');
}

.social-link.github {
    background-image: url('../images/github.svg');
}

.social-link.instagram {
    background-image: url('../images/instagram.svg');
}

.form-email input {
    border-color: gray;
    border-radius: 5px;
    border-style: solid;
    padding: 10px 20px 10px 25px;
    background-image: url('../images/envelope.svg');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: center;
}

.form-email button {
    padding: 10px 0px;
    display: block;
    margin-top: 10px;
    background: transparent;
    color: white;
    border-radius: 5px;
    width: 100px;
    margin-top: 10px;
    /* margin: 10px auto 0; */
}

.form-email h3 {
    font-family: 'Source Sans Pro', sans-serif;
}

header a {
    color: white;
    text-decoration: none;
}

.Container {
    /* border: 1px solid red; */
    width: 1000px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}