<div class="card-content">
    <div class="card-desc">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Sigma admi (tonf/m²)</th>
                    <th scope="col">Gamma Conreto (tonf/m³)</th>
                    <th scope="col">P (Tonf)</th>
                    <th scope="col">Mx (Tonf/m)</th>
                    <th scope="col">My (Tonf/m)</th>
                </tr>
            </thead>
            <tbody>
                <td>{{zapata.PresionAdmisible}}</td>
                <td>{{zapata.GammaConcreto}}</td>
                <td>{{zapata.P}}</td>
                <td>{{zapata.mx}}</td>
                <td>{{zapata.my}}</td>
            </tbody>
        </table>
    </div>
</div>