<div class="container content">
    <div class="row">
        <h1>
            Diseño de zapatas aisladas
        </h1>
        <p>Pagina web para el diseño de zapatas aisladas, segun la norma sismo resistente de construcción colomiana del 2010 </p>
    </div>
    <div class="row justify-content-center no-gutters">
        <div class="col">
            <app-zapata></app-zapata>
        </div>
        <div class="col">
            <app-esfuerzo-zapata></app-esfuerzo-zapata>
        </div>
    </div>

</div>