<div class="container">
    <div class="row row-flex">
        <div class="col-4" *ngIf="dataService.zapata!=null">
            <app-vista-zapata></app-vista-zapata>
        </div>
        <div class="col-8">
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h4 class="mb-0">Calculo Momentos en Zapata</h4>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th class="text-center align-text-top" scope="col">MuX (Tonf-m)</th>
                                <th class="text-center align-text-top" scope="col">MuY (Tonf-m)</th>
                                <th class="text-center align-text-top" scope="col">As min X (cm²)</th>
                                <th class="text-center align-text-top" scope="col">As min Y (cm²)</th>
                                <th class="text-center align-text-top" scope="col">As Req X (cm²)</th>
                                <th class="text-center align-text-top" scope="col">As Req Y (cm²)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <td class="text-center">{{flexionZapata.muX.toFixed(2)}}</td>
                            <td class="text-center">{{flexionZapata.muY.toFixed(2)}}</td>
                            <td class="text-center">{{flexionZapata.asMinX.toFixed(2)}}</td>
                            <td class="text-center">{{flexionZapata.asMinY.toFixed(2)}}</td>
                            <td class="text-center">{{flexionZapata.asReqX.toFixed(2)}}</td>
                            <td class="text-center">{{flexionZapata.asReqY.toFixed(2)}}</td>
                        </tbody>
                    </table>
                </div>
            </div>
            <hr>
            <app-despiece-zapata *ngIf="dataService.zapata!=null"></app-despiece-zapata>
        </div>
    </div>