<div class="container content">
    <div class="card-content">
        <div class="card-header">
            <h4 class="mb-0">Chequeo Cortante Unidireccional</h4>
        </div>
        <div class="card-body">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th class="text-center align-text-top" scope="col">VuX (Tonf)</th>
                        <th class="text-center align-text-top" scope="col">Vuy (Tonf)</th>
                        <th class="text-center align-text-top" scope="col">esf X (tf/m²)</th>
                        <th class="text-center align-text-top" scope="col">esf y (tf/m²)</th>
                        <th class="text-center align-text-top" scope="col">phi Vc (tf/m²)</th>
                    </tr>
                </thead>
                <tbody>
                    <td class="text-center">{{cortanteUnidireccional.vuX.toFixed(2)}}</td>
                    <td class="text-center">{{cortanteUnidireccional.vuY.toFixed(2)}}</td>
                    <td class="text-center">{{cortanteUnidireccional.euX.toFixed(2)}}</td>
                    <td class="text-center">{{cortanteUnidireccional.euY.toFixed(2)}}</td>
                    <td class="text-center">{{cortanteUnidireccional.phiVc.toFixed(2)}}</td>
                </tbody>
            </table>
        </div>
    </div>
</div>