<footer class="text-muted">
    <div class="container" wfd-id="1">
        <p>Aplicación desarrollada por: <a>Santiago Vásquez Gómez</a></p>
        <p>Telefono: <u>(+57)310 4509399</u></p>
        <p>Correo electronico: <u>santivasquez1@gmail.com</u></p>
        <p><i><b>Ingeniero Estructural</b> Universidad Nacional de Colombia </i></p>
        <p><i><b>Especialista en desarrollo de Software</b> Universidad de Medellín  </i></p>
        <div class="social">
            <a href="https://www.linkedin.com/in/santiago-vasquez-gomez-9266bb17a/" class="social-link linkedin"></a>
            <a href="https://github.com/santiagovasquez1" class="social-link github"></a>
            <a href="https://www.facebook.com/santiago.vasquezgomez" class="social-link facebook"></a>
        </div>
    </div>
</footer>