<div class="container content">
    <div class="card card-outline-secondary">
        <div class="card-header">
            <h3 class="mb-0">Chequeo Esfuerzos Zapata</h3>
        </div>
        <div class="card-body">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th class="text-center align-text-top" scope="col">ex (m)</th>
                        <th class="text-center align-text-top" scope="col">ey (m)</th>
                        <th class="text-center align-text-top" scope="col">Qmáx X (tf/m²)</th>
                        <th class="text-center align-text-top" scope="col">Qmín X (tf/m²)</th>
                        <th class="text-center align-text-top" scope="col">Qmáx Y (tf/m²)</th>
                        <th class="text-center align-text-top" scope="col">Qmín Y (tf/m²)</th>
                        <th class="text-center align-text-top" scope="col">Qmax (tf/m²)</th>
                    </tr>
                </thead>
                <tbody *ngIf="zapataHijo!=null">
                    <td>{{esfuerzoZapata.exZapata}}</td>
                    <td>{{esfuerzoZapata.eyZapata}}</td>
                    <td>{{esfuerzoZapata.qMaxX}}</td>
                    <td>{{esfuerzoZapata.qMinX}}</td>
                    <td>{{esfuerzoZapata.qMaxY}}</td>
                    <td>{{esfuerzoZapata.qMiny}}</td>
                    <td>{{esfuerzoZapata.qMax}}</td>
                </tbody>
            </table>

        </div>
    </div>
</div>
