<div class="card-content">
    <div class="card-header">
        <h4 class="mb-0">Diseño a flexión Zapata </h4>
    </div>
    <div class="row row-flex no-gutters">
        <div class="col-5 align-self-center">
            <img src="./assets/seccionZapata.JPG" class="img-fluid" alt="Seccion Zapata">
        </div>
        <div class="col">
            <form [formGroup]="fg">
                <div class="form-group row row-flex">
                    <div class="col">
                        <label for="asDefX">{{asDefX}}</label>
                    </div>
                </div>
                <div class="form-group row row-flex">
                    <div class="col">
                        <label for="asDefY">{{asDefY}}</label>
                    </div>
                </div>

                <div class="form-group row row-flex">
                    <div class="col">
                        <label for="RefuerzoX">Refuerzo en dir X (cm²):</label>
                    </div>

                    <div class="col">
                        <select name="RefuerzoX" class="form-control" [formControl]="fg.controls['RefuerzoX']" (change)="selectOnChange(fg.controls['RefuerzoX'].value,dataService.flexionZapata.asDefX,fg.controls['SeparacionX'],'X1')">
                            <option *ngFor="let ref of dataService.refuerzos" [ngValue]="ref">{{ref.diametro}}</option>
                        </select>
                    </div>
                    <div class="col">
                        <label for="sepX">cada (cm):</label>
                    </div>
                    <div class="col mr-3">
                        <input type="number" class="form-control" [formControl]="fg.controls['SeparacionX']" (change)="inputOnChange(fg.controls['RefuerzoX'].value,fg.controls['SeparacionX'],'X1')">
                    </div>
                </div>

                <div class="form-group row row-flex">
                    <div class="col">
                        <label>As en dir X : {{despieceZapata.asDefX.toFixed(2)}}</label>
                    </div>

                    <div class="col">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1" [formControl]="fg.controls['Gancho90X']" (change)="checkBoxOnChange(fg.controls['Gancho90X'].value,'X1')">
                            <label class="form-check-label" for="gancho90X">Gancho a 90</label>
                        </div>
                    </div>
                </div>

                <div class=" form-group row row-flex ">
                    <div class="col ">
                        <label for="RefuerzoX ">Refuerzo en dir Y (cm²):</label>
                    </div>

                    <div class="col">
                        <select name="RefuerzoY" class="form-control" [formControl]="fg.controls['RefuerzoY']" (change)="selectOnChange(fg.controls['RefuerzoY'].value,dataService.flexionZapata.asDefY,fg.controls['SeparacionY'],'Y1')">
                          <option *ngFor="let ref of dataService.refuerzos" [ngValue]="ref">{{ref.diametro}}</option>
                      </select>
                    </div>

                    <div class="col ">
                        <label for="sepy ">cada (cm):</label>
                    </div>
                    <div class="col mr-3 ">
                        <input type="number" class="form-control" [formControl]="fg.controls['SeparacionY']" (change)="inputOnChange(fg.controls['RefuerzoY'].value,fg.controls['SeparacionY'],'Y1')">
                    </div>
                </div>

                <div class="form-group row row-flex">
                    <div class="col">
                        <label>As en dir Y : {{despieceZapata.asDefY.toFixed(2)}}</label>
                    </div>

                    <div class="col">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1" [formControl]="fg.controls['Gancho90Y']" (change)="checkBoxOnChange(fg.controls['Gancho90Y'].value,'Y1')">
                            <label class="form-check-label" for="gancho90Y">Gancho a 90</label>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<hr>

<div class="card-content">
    <div class="card-header">
        <h4>Cuadro despiece Zapata</h4>
    </div>
    <div class="card-desc">
        <p>Refuerzo en dirección X</p>
        <ul>
            <li>
                {{despieceZapata.cantX}}{{despieceZapata.refuerzoX.diametro}} a {{despieceZapata.sepX.toFixed(2)}} cm L= {{despieceZapata.longRefuerzoX.toFixed(2)}}
            </li>
            <li>
                Peso refuerzo en dirección X: {{despieceZapata.PesoX.toFixed(2)}} kgf
            </li>
        </ul>
        <p>Refuerzo en dirección Y</p>
        <ul>
            <li>
                {{despieceZapata.cantY}}{{despieceZapata.refuerzoY.diametro}} a {{despieceZapata.sepY.toFixed(2)}} cm L= {{despieceZapata.longRefuerzoY.toFixed(2)}}
            </li>
            <li>
                Peso refuerzo en dirección Y: {{despieceZapata.PesoY.toFixed(2)}} kgf
            </li>
        </ul>
    </div>
</div>